  <!-- Card Form for Input -->
  <div  style="padding-left: 3em; padding-right: 3em; padding-top: 8em;padding-bottom: 2em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
    <!-- Mat Card Form for Read faq -->
   
     <div>
       <mat-card class="matCard" style="border-radius: 34px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);">
         <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
           <mat-card-title-group style="margin:0 auto">
             <mat-card-title style="font-weight: 500; ">Update Course</mat-card-title>
           </mat-card-title-group>
         </mat-card-header>
   
         <mat-card-content class="matContent">
           <form>
             <div class="form-group">
               <br /><br />
               <div style="padding: 0% 2.5% 0% 2%; min-width: 100%">
   
                <!--Image Stuff-->
                <div style="padding-left: 2em; margin-left: 39%;">
                  <label style="color: #ffffff; margin-right: 60%;">Upload Course Image</label>
  
                  <br />
                    <!-- image preview -->
                     <div >
                    <!--1-->          
                     <div *ngIf="!change">
                          <img src="{{'data:image/png;base64,'+ course.Image}}" style="width:150px; height: 150px; padding-bottom: 5%;">
                      </div>
  
  <!--2-->            <div *ngIf="change">
                          <img src="{{dataImage}}" style=" width:150px; height: 150px;padding-bottom: 5%">
                      </div>
                       </div>
                  <mat-form-field enctype="multipart/form-data" style="position: relative; bottom: 15px;">
                    <div>
                      <!-- Fetch selected filed on change -->
                      <input type="file" title=" " #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
                        accept="image/*" [formControl] = "imageFormControl" style="display: none;" required/>
                        <!-- label of input -->
                        <label for="uploadFile" class="btn" style="background-color: #0e1a3c;font-family: Montserrat; color: white;">Choose File</label>
                        <br>
                      <!-- Display files names -->
                        <input style=" padding-top: 11%;" matInput [(ngModel)]="fileAttr" readonly name="name" />
  
                      
                    </div>
  
  
                  </mat-form-field>
                 
                </div>



                 
<br>
<br>
                 <mat-form-field
                   class="example-full-width"
                   appearance="legacy"
                   style="width: 95%;"
                 >
                   <mat-label style="color: #0e1a3c">
                    Enter Course Name</mat-label
                   >
                   <input
                     type="text"
                     style="color: #0e1a3c"
                     matInput
                     [formControl]="nameFormControl"
                     name="EmployeeName"
                     [(ngModel)]="course.Name"
                     ngModelOptions="{standalone:true}"
                     placeholder="Ex. Peter Pan"
                     required
                   />
                   <mat-error *ngIf="nameFormControl.hasError('required')">
                    Course Name is <strong>required</strong>
                  </mat-error>
  
                <mat-error *ngIf="nameFormControl.hasError('pattern')">
                  Course name must contain only <strong>alpha characters</strong>
                </mat-error>
                 </mat-form-field>
                 <br />
                 <br />

                 <mat-form-field
                 class="example-full-width"
                 appearance="legacy"
                 style="width: 95%;"
               >
                 <mat-label style="color:#0e1a3c">
                   Enter Course Description</mat-label

                 >
                 <textarea
                   type="text"
                   matInput
                   rows="5"
                cols="150"
                   [formControl]="descriptionFormControl"
                  name="EmployeeSurname"
                  [(ngModel)]="course.Description"
                   placeholder="Add Employee Button not working; Screen Not Displaying"
                   required
                 ></textarea>
                 <mat-error *ngIf="descriptionFormControl.hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
               </mat-form-field>
               <br>
               <br>
               <mat-form-field
               class="example-full-width"
               style="width: 95%"
               appearance="legacy"
             >
               <mat-label style="color: #0e1a3c"
                 >Enter Price in rands</mat-label
               >
               <input
                 type="number"
                 min="1"
                 matInput
                 [formControl]="priceFormControl"
                 name="PackagePrice"
                 [(ngModel)]="course.Price"
                 placeholder="Ex. Peter Pan"
                 required
               />
               <mat-error *ngIf="priceFormControl.hasError('required')">
                 Price is <strong>required</strong>
               </mat-error>
               <mat-error *ngIf="priceFormControl.hasError('pattern')">
                Price can not be equal to <strong>0</strong>
              </mat-error>
             </mat-form-field>
<br>
<br>
<mat-form-field
class="example-full-width"
appearance="legacy"
style="width: 95%;"

>
   <mat-label style="color: #0e1a3c">Select Category</mat-label>
  <mat-select
    name="DeptID"
    [formControl]="categoryFormControl"
    [(ngModel)]="course.CategoryID"
    required
  >
    <mat-option
      *ngFor="let item of categoryList"
      [value]="item.CategoryID"
      required
    >
      {{ item.Category }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="categoryFormControl.hasError('required')">
    Category is <strong>required</strong>
  </mat-error>
</mat-form-field>
<br>
<br>


<mat-form-field
class="example-full-width"
appearance="legacy"
style="width: 95%;"

>
   <mat-label style="color: #0e1a3c">Select Course Activity</mat-label>
  <mat-select
    name="DeptID"
    [formControl]="activeFormControl"
    [(ngModel)]="course.Active"
    required
  >
    <mat-option
      value="True"
      required
    >
     True
    </mat-option>
    <mat-option
    value="False"
    required
  >
   False
  </mat-option>
  </mat-select>
  <mat-error *ngIf="activeFormControl.hasError('required')">
    Activity is <strong>required</strong>
  </mat-error>
</mat-form-field>


 


<br>
<br>

<mat-form-field
              class="example-full-width"
              appearance="legacy"
              style="width:95%"

            >
            <mat-label style="color: #0e1a3c">Select Teaching Assistants</mat-label>
              <mat-select
                multiple
                name="EmployeeSkill"
                [(ngModel)]="course.CourseAssistants"
                [formControl]="assistantsFormControl"
                required
              >
              
                <mat-option
                  *ngFor="let item of employeeList"
                  [value]="item.EmployeeID"
                >
                  {{ item.Name}} {{item.Surname}} - {{item.Email}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="assistantsFormControl.hasError('required')">
                Teaching assistant selection is <strong>required</strong>
              </mat-error>
            </mat-form-field>
                 
               </div>
   
               <div class="form-group" style="padding-right: 40%"></div>
             </div>
             <br>
             <br>
             <div class="button-container">
               <button id="cancel" class="btn" (click)="onBack()">Cancel</button>
               <button id="confirm" class="btn" (click)="onSubmit()">Confirm</button>
           </div>
           </form>
         </mat-card-content>
       </mat-card>
     </div>
   </div>