  <!-- Card Form for Input -->
  <div  style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
    <!-- Mat Card Form for Read faq -->
   
     <div>
       <mat-card class="matCard" style="border-radius: 34px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);">
         <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
           <mat-card-title-group style="margin-left: 30%;">
             <mat-card-title style="font-weight: 500; ">Request Skill/Qualification Update </mat-card-title>
           </mat-card-title-group>
         </mat-card-header>
   
         <mat-card-content class="matContent">
           <form>
             <div class="form-group">
               <br /><br />
               <div style="padding: 0% 2.5% 0% 2%; min-width: 100%">
   
                 <mat-form-field
                   class="example-full-width"
                   appearance="legacy"
                   style="width: 95%;"
                 >
                   <mat-label style="color: #0e1a3c">
                     Enter Request Subject</mat-label
                   >
                   <input
                     type="text"
                     style="color: #0e1a3c"
                     matInput
                     [formControl]="nameFormControl"
                     name="UpdateName"
                     [(ngModel)]="updateRequest.UpdateSubject"
                     ngModelOptions="{standalone:true}"
                     placeholder="Ex. BComHons Informatics"
                     required
                   />
                   <mat-error *ngIf="nameFormControl.hasError('required')">
                    Name is <strong>required</strong>
                   </mat-error>
                 </mat-form-field>
                 <br />
                 <br />
   
   
                 <mat-form-field
                   class="example-full-width"
                   style="width: 95%;"
                   appearance="legacy"
                 >
                   <mat-label style="color: #0e1a3c"
                     >Describe your skill or qualification update request</mat-label
                   >
                   <textarea
                     matInput
                     style="color: #0e1a3c"
                     [formControl]="descFormControl"
                     rows="5"
                     cols="90"
                     name="UpdateDesc"
                      [(ngModel)]="updateRequest.UpdateDescription"
                     ngModelOptions="{standalone:true}"
                     placeholder="Ex. The Flying Man"
                     required
                   ></textarea>
                   <mat-error *ngIf="descFormControl.hasError('required')">
                    Update Request Description is <strong>required</strong>
                  </mat-error>
                 </mat-form-field>
<br>
                 <mat-form-field  enctype="multipart/form-data">
                  <div>
                    <!-- Fetch selected filed on change -->
                    <input
                      type="file"
                      accept="application/pdf"
                      #fileInput
                      id="uploadFile"
                      (change)="uploadFileEvt($event)"
                      name="uploadFile"
                      [formControl]="imgFormControl"
                      style="display: none"
                      required
                    />
                    <!-- label of input -->
                    <label
                      for="uploadFile"
                      class="btn"
                      style="background-color: #0e1a3c; color: white; font-family: Montserrat;"
                      >Choose File</label
                    >
                    <br />
                    <!-- Display files names -->
                    <input
                      style="width: 100vw; padding-top: 20px;"
                      matInput
                      [(ngModel)]="fileAttr"
                      readonly
                      name="name"
                    />

                    <mat-error *ngIf="imgFormControl.hasError('required')">
                      No file <strong>chosen</strong>
                    </mat-error>
                  </div>
                </mat-form-field>
               </div>
               <br>
   <br>
               <div class="form-group" style="padding-right: 40%"></div>
             </div>
             <div class="button-container">
               <button id="cancel" class="btn" (click)="onBack()">Cancel</button>
               <button id="confirm" class="btn" (click)="onSubmit()">Confirm</button>
           </div>
           </form>
         </mat-card-content>
       </mat-card>
     </div>
   </div>