<div style="background-color: #920f4c;">
    <h2 mat-dialog-title style="color: #ffffff;font-family: Montserrat; margin-left: 20% ;padding: 20px 0px 10px 35px;" >Search Error</h2>
</div>
<mat-dialog-content class="mat-typogrpahy" style="padding: 40px 20px 20px 80px; width: 20vw;">
    <h4 style="color: #000000;"><br>No matches found. Please try again.</h4>
</mat-dialog-content>
<mat-dialog-actions style="padding-right: 20px;" >
    <button id="confirm" type="submit"  (click)="Ok()"  class="btn" >Ok
    </button>
</mat-dialog-actions>
