
<div style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
  <mat-card class="matCard">
    <mat-tab-group>
      <mat-tab label="Lesson" class="lesson" style="color: #0e1a3c;">
        <br>
        <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
          <mat-card-title-group style="margin: 0 auto">
            <mat-card-title style="font-weight: 500">{{course.Name}} -> {{section.SectionName}} -> {{test.LessonName}}</mat-card-title>
          </mat-card-title-group>
    <div style="float:right">
      <button mat-icon-button style="color: rgb(255, 255, 255); margin-top: -10px;" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button style="margin-top: -10px;" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
        
        </mat-card-header>

        <mat-card-content class="matContent">
          <!--Project Details-->
          <form>
            <div class="form-group">
              <br /><br />
              <div style="padding: 0% 2.5% 0% 2%;">
              <mat-label style="color: #0e1a3c">
                Lesson Name</mat-label>
  
              <br />
              <mat-form-field 
              class="example-full-width" 
              appearance="legacy"
              style="width: 99%;">
  
                <input
                  readonly
                  type="text"
                  matInput
                  name="LessonName"
                  [(ngModel)]="test.LessonName"
                  
                  required
                  style="color: #0e1a3c"
                />
              </mat-form-field>
              <br />
              <br />
  
              <mat-label style="color: #0e1a3c">
                Lesson Description</mat-label
              >
  
              <br />
              <mat-form-field
                class="example-full-width"
                appearance="legacy"
                style="width: 99%;"
              >
  
                <textarea
                  readonly
                  matInput
                  rows="5"
                  cols="90"
                  name="LessonDesc"
                  [(ngModel)]="test.LessonDescription"
                 
                  style="color: #0e1a3c"></textarea>
              </mat-form-field>
              <br>
              <ng-container>
                <iframe [src]="test.VideoID | VimeoUrl" height="144" width="256"frameborder="0"
                mozallowfullscreen allowfullscreen></iframe>
                </ng-container>
              <br>
              <br>
              <br>
              </div>
              <div class="form-group" style="padding-right: 40%"></div>
            </div>
    
            <div class="button-container">
              <button style=" 
              border: 2px solid rgb(0, 0, 0);
              border-radius: 50px;
              font-family: Montserrat;
              font-size: 16px;
              color: white;
              padding: 10px 25px 10px 25px;"
              id="cancel" class="btn" (click)="onBack()">Back</button>
               </div>
               
          </form>
        </mat-card-content>
      </mat-tab>
      
      <mat-tab label="Resources" class="resource" style="color: #0e1a3c;">
<mat-card>
 <!--Section table-->

<div class="bigDiv" style="margin-bottom: -35px;">
  <div class="leftSearch">
    <form class="navbar-form">
      <mat-form-field appearance="outline" color="white" style="width: 100%; border-color: white !important; color: #ffffff; padding-top: 1%;">
        <mat-label style=" color: #ffffff; background-color: transparent; border-bottom: none; font-size: 15px; width: 100%;">Search Resources</mat-label>
        <input type="text" style="border-color: #5090d000;" matInput name="searchDept" (keydown.enter)="doFilter($event)" placeholder="Ex. Angular Course">
        <mat-icon class="search" style="float: right; margin-top: -22px;">search</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <div fxFlex></div>
        <div fxLayoutAlign="center center" style="margin-top: 25px;padding-right: 10px;" >
          <button type="button" mat-mini-fab style="float: right; background-color: #920f4c;" class="btn btn-default btn-lg" (click)="addNewLessonResource()">
            <mat-icon aria-hidden="false" aria-label="Add FAQ" style="color: white; ">add</mat-icon></button>
          </div>
</div>
<br>
<mat-card-content style="padding-top: 1em;">
<div>
  <table
    mat-table
    [dataSource]="ResourceDataSource"
    class="mat-elevation-z8"
    id="ResourceTable"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="color: #ffffff">
        Resource Name
      </th>
      <td mat-cell *matCellDef="let resource">
        {{ resource.ResourceName }}
      </td>
    </ng-container>

   


    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th
        mat-header-cell
        *matHeaderCellDef
        style="text-align: center; color: #ffffff"
      >
        View
      </th>
      <td mat-cell *matCellDef="let resource" style="text-align: center">
        <button
          type="button"
          class="btn btn-default btn-lg"
          style="background-color:transparent;border-style: none;"
          (click)="onViewLessonResource(resource)"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="View Lesson"
            >reply</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="ResourceDisplayedColumns; sticky: true"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: ResourceDisplayedColumns"></tr>
  </table>
  <div *ngIf="noData | async" class="no-records" style="text-align: center; padding-top: 4em; font-size: larger;">
      No records found, please try again.
    </div>
</div>
</mat-card-content>
<br>
<mat-paginator style="color:white" [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
</mat-card>

      </mat-tab>
    </mat-tab-group>
   </mat-card>
</div>
