<div style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">

  <div>
    <mat-card class="matCard" style="border-radius: 34px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);">
      <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
        <mat-card-title-group style="margin-left: 38%;">
          <mat-card-title style="font-weight: 500; "> Update Priority </mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="matContent">
        <form>
          <br />
          <br />
          <div class="form-group">
            <div style="padding: 0% 2.5% 0% 2%; min-width: 100%">
              <mat-form-field 
              class="example-full-width" 
              appearance="legacy"
              style="width: 95%;"
              >
                <mat-label style="color: #0e1a3c">Enter Priority</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="nameFormControl"
                  name="DeptName"
                  [(ngModel)]="priority.Priority"
                  style="color: #0e1a3c"
                  placeholder="Ex. Medium Priority"
                  required
                />
                <mat-error *ngIf="nameFormControl.hasError('required')">
                  Maintenance Priority is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <br />
              <br />
  
            
            </div>
            <div class="form-group" style="padding-right: 40%"></div>
          </div>
          <div class="button-container">
            <button id="cancel" class="btn" (click)="onBack()">Cancel</button>
            <button id="confirm" class="btn" (click)="onSubmit()">Confirm</button>
        </div>
         
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  </div>