<!-- PARTICLE SYSTEM -->
<div class="page-bg"></div>
<mat-toolbar class="mat-toolbar-fullwidth navbar" color="transparent">
  <div class="navbar-container">
    <div class="logo-container" style="padding-top: 80px;">
      <a class="navbar-brand" href="#"><img src="../../assets/Images/DSLogo.png" style="height:100px; width: 85px;"></a>
    </div>
    <div class="fill"></div>
    <div class="nav-items-container" style="margin-left: 160%; padding-top: 85px">
      <ul class="nav-items">
        <li class="nav-item" style="margin-right: 3rem;">
          <a class="nav-link" routerLink="/login">About Us</a>
        </li>
        <li class="nav-item" style="margin-right: 3rem;">
          <a class="nav-link"  routerLink="/login">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/login">Careers</a>
        </li>
      </ul>
    </div>
  </div>
</mat-toolbar>

<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>

<div class="page-wrapper" style="margin-left: 3%;" >
  <h2 >WELCOME TO THE DARUS SALAAM</h2> 
  <h1 style="padding-bottom: 15px;padding-top: 15px">EDUCATIONAL  </h1>
  <h1 style="padding-bottom: 18px;padding-top: 40px"> INSTITUTE</h1>
  <h3> REMOTE ACCESS PORTAL </h3>
  <button id="confirm" class="btn" routerLink="/login"> Login</button>
</div>