
<div style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
    <mat-card class="matCard">
     
       
          <br>
          <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
            <mat-card-title-group style="margin: 0 auto;">
              <mat-card-title style="font-weight: 500">Edit T&C's</mat-card-title>
            </mat-card-title-group>
    
          
          </mat-card-header>
  
          <mat-card-content class="matContent">
            <!--Project Details-->
            <form>
              <div class="form-group">
                <br /><br />
                <div style="padding-left: 2em; margin:0 auto;">
                  <mat-label style="color: #0e1a3c; margin:0 auto;padding-bottom: 20px;">Upload T&C's File </mat-label>
    
                  <br />
    
                  <mat-form-field
                  enctype="multipart/form-data"
                  style="position: relative; bottom: 15px"
                >
                  <div style="padding-top: 14%">
                    <input
                                type="file"
                                accept="application/pdf"
                                #fileInput
                                id="uploadFile"
                                (change)="uploadFileEvt($event)"
                                name="uploadFile"
                                [formControl]="resourceFormControl"
                                style="display: none"
                                required
                            />
                             
                                <!-- label of input -->
                              <label
                                for="uploadFile"
                                class="btn"
                                style="background-color: #0e1a3c; color: #ffffff;font-family: Montserrat;"
                                >Choose File</label
                              >
                              <br />
                              <br>
                              
                              <!-- Display files names -->
                              <input
                                style="width: 30vw"
                                matInput
                                [(ngModel)]="fileAttr"
                                readonly
                                name="name"
                              />
          
                    <mat-error *ngIf="resourceFormControl.hasError('required')">
                      No file <strong>chosen</strong>
                    </mat-error>
                  </div>
                </mat-form-field>
                 
                </div>
        
               <div class="form-group" style="padding-right: 40%"></div>
              </div>
              <br>
              <div class="button-container">
                <button id="cancel" class="btn" (click)="onBack()">Cancel</button>
                <button id="confirm" class="btn" (click)="onSubmit()">Confirm</button>
  
  
              </div>
            </form>
          </mat-card-content>
      
     </mat-card>
  </div>
  