  <!-- Card Form for Input -->
  <div  style="padding-left: 3em; padding-right: 3em; padding-top: 9em;height:100vh;background-image: url('../../assets/gradient.gif');background-repeat: no-repeat;background-size: 100% 25%;">
    <!-- Mat Card Form for Read faq -->
   
     <div>
       <mat-card class="matCard" style="border-radius: 34px;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);">
         <mat-card-header class="cardHeader" style="padding-bottom: 1%;text-align: center">
           <mat-card-title-group style="margin:0 auto;">
             <mat-card-title style="font-weight: 500; ">New VAT Amount/Percentage</mat-card-title>
           </mat-card-title-group>
         </mat-card-header>
   
         <mat-card-content class="matContent">
           <form>
             <div class="form-group">
               <br /><br />
               <div style="padding: 0% 2.5% 0% 2%; min-width: 100%">
   
                 <mat-form-field
                   class="example-full-width"
                   appearance="legacy"
                   style="width: 95%;"
                 >
                   <mat-label style="color: #0e1a3c">
                    Enter VAT Amount between 0 and 100</mat-label
                   >
                   <input
                     type="number"
                     style="color: #0e1a3c"
                     matInput
                     [formControl]="vatFormControl"
                     name="DeptName"
                     [(ngModel)]="vat.VatAmount"
                     ngModelOptions="{standalone:true}"
                     placeholder="Ex. 15% - value will be rounded to 2 decimal places"
                     required
                   />
                   <mat-error *ngIf="vatFormControl.hasError('required')">
                    VAT Amount is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="vatFormControl.hasError('min')">
                   VAT Amount cannot be less than <strong>0</strong> 
                  </mat-error>
                  <mat-error *ngIf="vatFormControl.hasError('max')">
                    VAT Amount cannot be greater than <strong>100</strong> 
                   </mat-error>
                
                 </mat-form-field>
                 <br />
                 <br />
   
   
                
                 
               </div>
   
               <div class="form-group" style="padding-right: 40%"></div>
             </div>
             <div class="button-container">
               <button id="cancel" class="btn" (click)="onBack()">Cancel</button>
               <button id="confirm" class="btn" (click)="onSubmit()">Confirm</button>
           </div>
           </form>
         </mat-card-content>
       </mat-card>
     </div>
   </div>