::ng-deep.mat-dialog-container {
    padding: 0px 0px 0px 0px !important;
    overflow: hidden;
  }

  .btn
  {
      border: 2px solid rgb(0, 0, 0);
      border-radius: 50px;
      
      font-family: MontserratMedium;
      font-size: 16px;
      color: white;
      padding: 10px 25px 10px 25px;
  }
  
  .btn:hover
  {
      background-color: white;
      color: #00efd1;
      transition-duration: 500ms;
  }
  
  #cancel
  {
    margin-left: 35%;
      font-family: Montserrat;
      background-color: #920f4c;
  }
  
  
  
  #cancel:hover{
      color: red;
      background-color: white;
  }
  
  #confirm
  {
      margin-right: 30%;
      float: right;
      font-family: Montserrat;
      background-color:  #19274b;;
  }
  
  #confirm:hover
  {
  color: #19274b;
  background-color: white;
  }
  
  .button-container
  {
      margin-top: 20px;
      width: 100%;
      
  }
