<!-- PARTICLE SYSTEM -->
<div class="page-bg"></div>

<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>


  <div class="blurred-box">
    <div style="background-image: url('../../assets/loading.gif');background-repeat: no-repeat;background-size: 100% 100%;" class="bouncer" *ngIf="isLoading">   
    </div>
    <div style="padding: 0% 2.5% 0% 2%;">
      <br>
      <br>
      <br>
   <div>
    <p style="font-size:32px;padding-left: 33%; color: white;">Reset Password</p>
   </div>
  
      <form
        #form="ngForm"
        class="emailInput"
        name="loginForm"
        [formGroup]="ResetForm"
      >

      <br>
      <br>
      <br>

      <mat-form-field class="full-width" appearance="fill" style="font-family: Montserrat;">
        <mat-label  style="font-family: Montserrat;">Email</mat-label>
        <input
        formControlName="Username"
        matInput
        type="email"
        name="Username"
        [pattern]="emailPattern"
        placeholder="xyz@gmail.com"
        [(ngModel)]="formData.Username"
        required
        />
        <mat-error *ngIf="!ResetForm.controls['Username'].valid">
          Email is <strong>required</strong> and must be valid
        </mat-error>
      </mat-form-field>
<br>
<br>
    
      <div class="button-container">
        <button id="cancel" class="btn" (click)="onReset(form)">Submit</button>
        <button id="confirm" class="btn" [routerLink]="['/login']" routerLinkActive="router-link-active">Cancel</button>
    </div>
    
      </form>
    </div>
  </div>





<!-- </body> -->